#view {
    display: flex;
}

#area1 {
    position: relative;
}

#area1 canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#area2 {
    position: relative;
}

#area2 canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#graph1b {
   background-color: gray;
}

#graph2b {
   background-color: gray;
}

