footer {
  display         : flex;
  flex-wrap       : wrap;
  justify-content : center;
  background      : black;
}

footer h3 {
  margin         : 0;
  color          : white;
  font-size      : 2vw;
}

footer p {
  margin    : 0;
  color     : white;
  font-size : 1.75vw;
}

.info { 
  margin : auto 0 auto 0;
}

.address {
  padding : 5px 0 5px 0;
}

.tel {
  padding : 5px 0 5px 0;
}

.mail {
  padding : 5px 0 5px 0;
}
