footer {
  display         : flex;
  max-height      : 120px;
  flex-wrap       : wrap;
  justify-content : center;
  background      : black;
}

footer h3 {
  margin : 0;
  color  : white;
}

footer p {
  margin : 0;
  color  : white;
}

.info { 
  margin : auto 0 auto 0;
}

.address {
  padding : 2.5px 0 2.5px 0;
}

.tel {
  padding : 2.5px 0 2.5px 0;
}

.mail {
  padding : 2.5px 0 2.5px 0;
}
