footer {
  display: flex;
  max-height: 120px;
  flex-wrap: wrap;
  justify-content: center;
}

footer h3 {
  margin: 0;
}

footer p {
  margin: 0;
}

.logo {
  margin: auto 0 auto 0;
}

.info { 
  margin: auto 0 auto 0;
}

.address {
  padding: 2.5px 0 2.5px 0;
}

.tel {
  padding: 2.5px 0 2.5px 0;
}

.mail {
  padding: 2.5px 0 2.5px 0;
}
