body {
  margin : auto;
}

header {
  display    : flex;
  max-height : 120px;
  position   : sticky;
  top        : 0px;
  z-index    : 10;
  border     : solid;
}

a {
  text-decoration : none; 
}

.logo {
  margin : auto 0 auto 0;
}

header > .logo {
  background : white;
  margin     : 0;
  padding    : 5px;
}

.logo__image {
  min-height : 80px;
  max-height : 120px;
}

.menu {
  flex       : 1 1 auto;
  background : rgb(140, 50, 70);
}

.menu-nav {
  text-align : center;
}

.menu-nav__title {
  font-weight : bold;
  font-size   : clamp(22.5px, 3vw, 35px);
}

.menu-nav__lists {
  display    : flex;
  list-style : none;
  margin     : auto;
  padding    : 0;
  font-size  : clamp(17.5px, 2.5vw, 30px);
}

.menu-nav__list {
  flex        : 1 1 auto;
  font-family : serif;
  color       : white;
}

.menu-nav__list > a {
  color : white;
}
