body {
  margin : auto;
}

header {
  display    : flex;
  max-height : 120px;
}

a {
  text-decoration : none; 
}

.logo {
  margin : auto 0 auto 0;
}

.logo__image {
  min-height : 80px;
  max-height : 120px;
}

.menu {
  flex       : 1 1 auto;
  background : rgb(140, 50, 70);
}

.menu-nav {
  text-align : center;
}

.menu-nav__title {
  font-weight : bold;
  font-size: max(3vw, 22.5px);
}

.menu-nav__lists {
  display    : flex;
  list-style : none;
  margin     : auto;
  padding    : 0;
  font-size  : max(2.5vw, 17.5px);
}

.menu-nav__list {
  flex        : 1 1 auto;
  font-family : serif;
  color       : white;
}
