header {
  display: flex;
  max-height: 120px;
}

.logo {
  flex: 1 1 auto;
}

.logo__image {
  min-height: 80px;
  max-height: 120px;
}

.menu {
  flex: 1 1 auto;
}

.menu-nav__lists {
  display: flex;
  list-style: none;
}

.menu-nav__list {
  flex: 1 1 auto;
}
