.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.movies {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.movie__oniku {
  width: 100%;
}

.motto {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
}

.motto__image {
  position: absolute;
  width: 100%;
}

.motto__text {
  position: relative;
  text-align: center;
}
