.container {
  display               : grid;
  grid-template-columns : repeat(12, 1fr);
  grid-template-rows    : auto;
  padding-bottom        : 20px;
}

.movies {
  grid-column-start : 1;
  grid-column-end   : 13;
  grid-row-start    : 1;
  grid-row-end      : 2;
}

.movie__oniku {
  width : 100%;
}

.motto {
  grid-column-start : 1;
  grid-column-end   : 13;
  grid-row-start    : 2;
  grid-row-end      : 3;
  position          : relative;
}

.motto__image {
  width : 100%;
}

.motto__text {
  position        : absolute;
  top             : 20%;
  left            : 50%;
  transform       : translateX(-50%);
  display         : inline-block;
  color           : #ffffff;
  font-size       : 5vw;  
  font-family     : serif;
  letter-spacing  : 2px;
  text-align      : center;
  text-shadow     : 
       3px  3px 2px rgba(0, 0, 0, 0.75),
      -3px  3px 2px rgba(0, 0, 0, 0.75),
       3px -3px 2px rgba(0, 0, 0, 0.75),
      -3px -3px 2px rgba(0, 0, 0, 0.75),
       3px  0px 2px rgba(0, 0, 0, 0.75),
       0px  3px 2px rgba(0, 0, 0, 0.75),
      -3px  0px 2px rgba(0, 0, 0, 0.75),
       0px -3px 2px rgba(0, 0, 0, 0.75);
}

.detail {
  grid-column-start : 3;
  grid-column-end   : 11;
  grid-row-start    : 3;
  grid-row-end      : 4;
  padding           : 20px;
  border            : solid;
  text-align        : center;
  background        : rgba(255, 255, 255, 0.40);
}

.detail h2 {
  margin    : 0 0 1em 0;
  font-size : 4vw;
}

.detail p {
  font-size : 3vw;
}

.image {
  grid-column-start : 1;
  grid-column-end   : 13;
  grid-row-start    : 3;
  grid-row-end      : 4;
}

.image__sumi {
  width : 100%;
  height: 70%;
}
