.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.movies {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 2;
}

.movie__oniku {
  width: 100%;
}

.motto {
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}

.motto__image {
  width: 100%;
}

.motto__text {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
